/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	position: absolute;
	top: 35%;
	left:10%;
}

a{
	text-decoration: unset;
}


body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  *outline: 1px solid slategrey;
  border-radius: 8px;
}

body{
	background-image:  url("pic/old_map.png"); 
}



.tagbar{
	position:fixed;
	left:0;
	height:100%;
	background-color: #272727;
	width:60px;
	z-index: 9999;
}

.barh2{
	margin: 250px 15px 150px 15px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr ;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 32px;
	color: #fff;
	cursor: default;
}

.opentag{
	position:absolute;
	bottom:0px;
	margin-bottom: 20px;
}

.opentag>li{
	width:60px;
	height:25px;
	padding:5px 25px 5px 25px;
	-webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}



.divdot{
	width:10px;
	height:10px;
	border-radius: 99em;
	background-color:#666;
	-webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.divdothover{
	background-color: #FFFF00;
}

.tag{
	position: absolute;
	font-size: 17px;
	left:60px;
	bottom:35px;
	cursor : default;
}

.tag>a{
	cursor : default;
	
}


.tag>a>li{
	position:relative;
	white-space: nowrap;
	background-color: #FFFF00	;
	height:20px;
	width: 0px;
	padding: 7px 0 7px 0;
	color: #333;
	text-align: center;
	font-family: FangSong;
	font-weight: bold;
	-webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity:0;
    z-index: 0;
}


.text{
	color: #000;
	font-size: 22px;
	font-family: FangSong;
	line-height: 30px;　
	font-weight: bold;
	text-indent : 2em;
}

#first{
	background-image: url("pic/Deserts_Xuan.jpg"); 
	*background-size:  100%;
	*background-position: -150px 0;
	background-repeat: repeat-x;
	height:955px;
}


#music-button>img{
	position:fixed;
	right:0px;
	width: 100px;
	height:100px;
	
}

.first_text{
	
	position:relative;
	padding-top: 150px;
	margin:0px auto;
	width:50%;
	height:400px;
	
}



#second{
	background-image: url("pic/green_cup.png"); 
	*background-size: 100% 115%;
	*background-position: 0 -150px;
	height:955px;
}


.second_text{
	position:relative;
	padding-top: 150px;
	margin:0px auto;
	width:920px;
	*height:60%;
	
}
.second_text>h3{
	position: absolute;
	font-weight: bold;
	font-size: 100px;
	top:250px;
	left:-300px;
}

.second_text>img{
	width:300px;
	height:200px;
	border-radius: 0.4em;
	float: right;
	margin:20px;
}

.second_text>p{
	margin: 10px 0 10px 0;
	color:#FFFF77;
	text-indent : 0em;
}

.second_button{
	position:relative;
	background-color: #D3D3D3;
	border-radius: 0.15em;
	border-color: transparent;
	border-style: none;
	display: block;
	margin: 25px 12px;
	padding: 7px;
	color: #000;
	font-size: 24px;
	width:200px;
	height:50px;
	cursor: pointer;
	font-family: FangSong;

}

.second_button>a{
	color: #000;
}


#third{
	*background-image: url("pic/brushed.png"); 
	*background-size: 100% 110%;
	height:955px;
}

.third_text{
	position:relative;
	padding-top: 200px;
	margin:0px auto;
	width:920px;
	font-size: 18px;

}

.third_text>h3{
	position: absolute;
	font-weight: bold;
	font-size: 100px;
	top:120px;
	right:-300px;
}

.third_text>section{
	margin:15px;
	border: 4px solid #435b5b;
	border-radius: 1.5em;
	padding:10px 10px;
	*width:650px;
	*display: inline-block;
	*text-align: center;
}

.third_text>section>h4{
	font-size: 32px;
	text-indent: 0em;
}

.third_text>section>img{
	*border-radius: 0.35em;
	display: inline-block;
	float:right;
}

#forth{
	background-image: url("pic/green_cup.png");
	*background-size: 100%;
	height:955px;
}


.forth_text{
	position:relative;
	padding-top: 200px;
	margin:0px auto;
	width:920px;
	font-size: 22px;
}

.forth_text>h3{
	position: absolute;
	font-weight: bold;
	font-size: 100px;
	top:250px;
	left:-300px;
}

.textbox{
	position:relative;
	background-color: #D9B300;
	width:210px;
	height:30px;
	padding:10px;
	top:-50px;
	left:45px;
	border-radius: 0.15em;
	text-indent: 0em;
	text-align: center;
	opacity: 0.7;
	transition: all linear 0.4s;
}

.forth_button{
	position:relative;
	background-color: transparent;
	border-radius: 0.15em;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	display: block;
	margin: 25px 12px;
	padding: 7px;
	color: #000;
	font-size: 24px;
	width:230px;
	height:50px;
	cursor: pointer;
	font-family: FangSong;
	
}

.forth_text>div>a{
	color: #000;
}

#fifth{
	height:955px;
}

.fifth_text{
	position:relative;
	padding-top: 200px;
	margin:0px auto;
	width:920px;
	font-size: 22px;
}

.fifth_text>h3{
	position: absolute;
	font-weight: bold;
	font-size: 100px;
	top:120px;
	left:-70px;
}

.fifth_text>div>p{
	font-size: 18px;
}

.fifth_text>div>section{
	margin:30px 20px 20px 60px;
	
}

.fifth_text>div>section>h4{
	font-size: 24px;
	font-weight: bolder;
	cursor: pointer;
}

.fifth_text>div>section>h4:hover{
	color :	#BF0060;
	transition: all linear 0.2s;
}

.fifth_text_box{
	position: absolute;
	background-color: white;
	top:300px;
	right:50px;
	width:400px;
	height:500px;
	padding: 10px 12px 10px 12px;
	border-radius: 0.5em;
	font-size: 20px;
	
}

.fifth_text_box>p{
	font-weight: border;
	font-size: 28px;
	margin: 10px;
	text-indent: 0em;
}

.box0{
	transition: all linear 0.4s; 
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
	display: none;
	transition: all linear 0.6s;
}




.more{
	color: #000088;
	font-weight: bolder;
	cursor: pointer;
}